.appointmentDisplay {
    .title {
        font-weight: bold;
        margin: 0;
    }

    .comments {
      color: blue;
    }
    .time {
      color: blue;
    }
    .title {

      color: white;
    }
}
h1 {

  color: cyan;
}
body{
  background-color: black;
  color: white;
}
